<ion-view view-title="Nutric">

   <ion-content>
        <div class="mi_contenedor">
          
          <div align="center" >
            <img class="center" src="img/fondo.jpg"> 
          </div>
          <br/>
          <p> El objetivo de Nutric es calcular el índice de masa corporal, el peso ideal de una persona y así poder manejar tu estado nutricional.</p>
          <br/>
          <a class="button button-block button-balanced" href="#/app/datos">Calcular Datos</a>
        </div>
    </ion-content>

  <div class="bar bar-footer bar-dark">
  <div class="title">Derechos Reservados ©</div>
</div>
</ion-view>
