<ion-view view-title="Datos" hide-nav-bar="true">

<!-- Menu no repetido de la clase abstracta --> 
	<ion-header-bar class="bar bar-header bar-energized">
		    <a class="button button-icon ion-ios-undo button-clear" href="#/app/datos"></a>
        <h1 class="title">IMC</h1>
         <button class="button button-icon button-clear ion-information-circled" ng-click="showAlertImc()">
        </button>
      </ion-header-bar>

  <ion-content>
<div class="mi_contenedor">
    <h2>Resultado:</h2>
    <div align="center">
      <h4>Tu peso segun el índice de masa corporal es de: <strong>{{imc}}</strong> lo que significa que estas con <strong>{{dato}}</strong>.</h4>
            <img class="center" src="img/{{img}}.png"><br/><br/>
             <a class="button button-assertive" href="#/app/ejercicio/{{genero}}/{{edad}}/{{talla}}/{{peso}}/{{dato}}" >Ver Ejercicios</a>
             <a class="button button-positive" href="#/app/alimentacion/{{genero}}/{{edad}}/{{talla}}/{{peso}}/{{dato}}">Ver Alimentación</a>
             <!-- <button class="button button-positive" ng-click="openBrowser()">Ver Alimentación</button> -->
    </div>
    <br/>
    <hr/>
    <hr/>
    <hr/>
     <h2>Tabla Referencia:</h2>
      <div align="center" >
            <img  src="img/tabla_imc.png"> 
      </div>

</div> 
   
  </ion-content>
  
</ion-view>
